.img_wellcome{
  width: 50vw;
}

.menu_nav{
  background-color: #007b1b;
}

.buscar_home{
  background-color: #007b1b;
  color: #ffffff;
}

.buscar_home a {
  color: #ffffff;
  text-decoration: none;
}

.buscar_home a:hover {
  color:aliceblue;
  text-decoration: none;
}

.sin_margen{
  min-width: 100vw;
}

@media only screen and (max-width: 999px) {
  .img_wellcome{
    width: 100vw;
  }
  .texto_wellcome{
    margin-left: 0px;
  }
  .sin_margen{
    min-width: 90vw;
  }
}


p, h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  width: 600;
}

.boton_contraseña {
  color:#282c34;
  text-decoration: none;
}

.input-group {
  position: relative;
}

.form-control {
  padding-right: 47px;
}

.input-group-append {
  position: absolute;
  right: 15px;
  top:1px;
  z-index: 10;
}

.input-group-append {
  position: absolute;
  right: 0;
}

.x__p__address__x {
  padding-right: 40px;
}

.logo-mrmelas{
  max-width: 120px;
}
